* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  color: white;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.clock span {
  font-size: 80px;
  width: 100px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.clock span::after {
  font-size: 16px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.hrs::after {
  content: "HORA";
}

.min::after {
  content: "MINUTOS";
}

.sec::after {
  content: "SEGUNDOS";
}

.title {
  font-size: 24px;
  font-weight: bolder;
}