* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: teal;
  color: white;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.container {
  border: 1px black solid;
  width: 80%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}